header {
    text-align: center;
}

input {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 16px;
    justify-content: space-between;
}

.flex-item {
    flex-grow: 1;
    padding: 16px;
    margin-bottom: 16px;
    width: 49%;
}

#results {
    margin-right: 16px;
}

.flex-item ul button {
    margin-left: 10px;
}

.flex-item ul li {
    margin-bottom: 10px;
}

#previous {
    margin-right: 10px;
}